@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

// Variables //

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$drk-blue: hsl(249, 10%, 26%);
$gray-blue: hsl(246, 25%, 77%);

// Globals //

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  background: url('../images/bg-intro-mobile.png') $red;
  background-position: center;
}

button:hover {
  cursor: pointer;
}

// Main Styles //

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.description {
  color: white;
  text-align: center;
  margin: 5rem 0 4rem 0;

  &__heading {
    font-size: 1.6rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &__body {
    margin-top: 1.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  text-align: center;

  &__linkbtn {
    color: white;
    background-color: $blue;
    border: none;
    border-radius: 10px;
    font-weight: 300;
    padding: 1rem 5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    // fixes font on Chrome
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 0px 10px 2px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.16);

    &--bold {
      font-weight: 700;
    }
  }

  &__main {
    margin-top: 2rem;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 2px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.16);

    &__submit {
      background-color: $green;
      color: white;
      border: none;
      width: 90%;
      border-radius: 8px;
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
      -webkit-box-shadow: inset 0px -5px 2px 0px rgba(0, 0, 0, 0.14);
      box-shadow: inset 0px -5px 2px 0px rgba(0, 0, 0, 0.16);
    }

    &__error {
      display: none;
      font-size: 0.9rem;
      color: $red;
      font-style: italic;
      text-align: right;
      margin: -1.5rem 1.5rem 0.5rem 0;

      &:last-of-type {
        margin: -1.5rem 1.5rem 1rem 0;
      }
    }
  }

  &__main input {
    width: 90%;
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: $drk-blue;
    font-weight: 600;
    border: 1px solid $gray-blue;
    border-radius: 4px;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      color: $drk-blue;
      font-size: 0.9rem;
      font-weight: 500;
    }

    &:first-child {
      margin-top: 1rem;
    }
  }

  &__footer {
    font-size: 0.7rem;
    color: $gray-blue;
    margin: 1rem 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    &__link {
      color: $red;
      font-weight: 500;
    }
  }
}

.attribution {
  margin: 1rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 660px) {
  .main {
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    gap: 4rem;
  }

  .description {
    flex: 1;
    text-align: left;

    &__heading {
      font-size: 3.5rem;
      width: 100%;
      line-height: 4rem;
    }

    &__body {
      width: 100%;
      margin: 2rem 0;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .form {
    flex: 1;

    &__linkbtn {
      width: 100%;
      padding: 2rem 2rem;
    }

    &__main {
      &__submit {
        padding: 1.5rem 2rem;
      }

      & input {
        height: 5rem;
        margin-bottom: 2rem;

        &:focus {
          outline: none;
          border: 1px solid $drk-blue;
        }
      }
    }
  }

  .attribution {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 900px) {
  .form {
    flex: 1;

    &__linkbtn {
      font-size: 1.3rem;
    }

    &__main {
      &__submit {
        font-size: 1.2rem;
      }

      & input {
        height: 5rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;

        &::placeholder {
          font-size: 1.2rem;
        }

        &:focus {
          outline: none;
          border: 1px solid $drk-blue;
        }
      }
    }
  }
}
